::deep .nav-link {
    color: #41464b !important;
}

::deep .clickable {
    cursor: pointer !important;
}

.bg-expanded {
    background-color: #C3C3C3;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;

}

.bg-opened {
    margin-top: 5px;
    outline: 2px solid black;
    border-radius: 5px;
}

.navbar
{
    display: block !important;
}

/*.bg-opened > .nav-link{
    margin-left: 10px !important;
}*/

::deep .navbar-nav .nav-link {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

::deep .navbar-nav > .active {
    background-color: white;
    border-radius: 10px;
}

.navbar-nav {
    margin-left: 12px;
    margin-right: 12px;
}

::deep h4 {
    margin-bottom: 0px;
}
.align-right {
    text-align: right
}